
  /* Celular */
@media only screen and (min-width: 320px){ 
#inicio {
   width: 80vw;
   margin: 0 auto;
   padding-bottom: 20px;
}
p {
    font-size: 2em; columns: #777777;
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 2px white;
  
}

#id{
    width: 60px;
    height: 60px;
    padding: 0;
    margin: 0;
    background: rgb(5, 5, 0)
} 
button{
    width: 80px;
    height: 80px;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.479);
    border-width: 5px;
    border-color: rgba(14, 14, 14, 0.719);
    
}
.botao_container{
    display: flex;
    justify-content: center;
  
}

.zerar{
    background-color: rgb(211, 79, 17);
    font-size: 1.5em; columns: #777777;
    text-align: center;  
    width: 100px;
    height: 50px;
    font-weight: bold;
    
}

#inicio{
    background-color: rgba(255, 255, 255, 0.9);
    width: 350px; 
    margin: 0 auto;
  } 

body {
    background: url("../Brinc/Total_Rickall.png") no-repeat;
    /* justify-items: auto; */
    background-size: cover; 



}
.informativo{
    height: 1px;
    margin: 0;
    font-size: 1.5em
}.titulo{ 
    margin: 0;

}
}   




  /* Tablet */

 
@media only screen and (min-width: 780px){ 
#inicio {
   width: 49%;
   margin-right: auto;
   padding-bottom: 8%;
}
p {
    font-size: 3em; columns: #000000;
    text-align: center;
    font-weight: bold;
}
.titulo{ 
    margin: 0;
}
#id{
    width: 60px;
    height: 60px;
    padding: 0;
    margin: 0;
    background: rgb(5, 5, 0)
} 
button{
    width: 100px;
    height: 100px;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgb(255, 255, 255);
    border-width: 5px;
    border-color: rgba(3, 59, 73, 0.719);    
    
}
.botao_container{
    display: flex;
    justify-content: center;
  
}

.zerar{
    background-color: rgb(4, 5, 65);
    font-size: 2em; columns: #777777;
    text-align: center;
    z-index: 1;
    width: 100px;
    height: 50px;
    color: white;
    
}

#inicio{
    background-color: rgba(255, 255, 255, 0.774);
    width: 400px; 
    margin: 0 auto;
  } 

body {
    background: url("../Brinc/Total_Rickall.png") no-repeat fixed; 
    background-size: cover; 
}.informativo{
    height: 1px;
    margin: 0;
    font-size: 1.5em
}   
 
} 



 

/* DEsktop */
  
@media only screen and (min-width: 1000px){ 
    #inicio {
       width: 49%;
       margin-right: auto;    
       padding-bottom: 7%; 
    }
    p {
        font-size: 3em; columns: #777777;
        text-align: center;
        font-weight: bold;
        color: white;
        text-shadow: 2px 2px black;
                
        
    }
    button{
        width: 120px;
        height: 120px;
        padding: 0;
        margin: 0;
        top: 0%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-color: beige;
        border-width: 5px;
        border-color: rgba(0, 0, 0, 0.719);
        
    }
    .botao_container{
        display: flex;
        justify-content: center;
      
    }
    
    .zerar{
        background-color: black;
        font-size: 2em; columns: #777777;
        text-align: center; 
        width: 100px;
        height: 75px;
        color: white;
        margin-top: -20;
        
    }
    
    #inicio{
        background-color: rgba(0, 0, 0, 0.8);
        width: 800px; 
        height: 600px; 
        margin: 0 auto;
        align-items: center
    
      } 
    
    body {
        background: url("../Brinc/Total_Rickall.png") no-repeat;
        background-size: 'cover'; 
    } .informativo{
        height: 1px;
        font-size: 1.5em
    }.titulo{ 
        margin: 0;

    }
}  
    
    
   
     
    
    
    
